.menu,
.battle,
.stats,
#home,
.inventory,
.yourTurn,
.attackEnemy,
.enemyTurn,
.gameOver {
  display: none;
}

.battleGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.battler {
  outline: 1px blue solid;
}
